.container {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.div {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.theme-prompt {
    font-size: 18px;
}

#buttons {
    margin: auto;
    width: 280px;
}

#alphabet {
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
    padding-left: 0;
}

#alphabet-offset-row {
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
    margin-left: 20px;
    padding-left: 0;
}

#letter {
    border: 1px solid #B03A2E;
    color: #B03A2E;
    background-color: #fff;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

#letter:hover {
    color: #fff;
    background-color: #B03A2E;
    border: 1px solid #B03A2E;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

li#letter.active {
    background-color: #efd7d5;
}

#theme-buttons {
    margin-bottom: 25px;
}

button {
    border: 1px solid #B03A2E;
    color: #B03A2E;
    background-color: #fff;
    margin-right: 10px;
    margin-left: 10px;
}

button:hover {
    color: #fff;
    background-color: #B03A2E;
    border: 1px solid #B03A2E;
}

#hold {
    margin-top: 30px;
}

#my-word {
    list-style-type: none;
    display: inline-flex;
    font-size: 28px;
    padding-left: 0;
}

.guess {
    margin-right: 10px;
    margin-left: 10px;
}

p {
    margin-bottom: 20px;
}

#my-lives {
    margin-bottom: 0;
}

#already-guessed {
    display: inline-flex;
}

#already-guessed p {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

.already-guessed-title {
    width: 165px;
    margin: auto;
}

#theme-reveal {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
